$vert: #32330D;
$gris-fonce: #1C1823;
$gris-clair: #78745F;
$blanc: #FCFCFF;
$jaune: #ffec64;
$violet: #401B37;
$rouge: #ED1D20;
$rouge-fonce: #971313;

.form-connexion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;

    width: min(95%, 52rem);
    margin: 3rem auto;

    border: 1px solid $gris-clair;
    border-radius: 1rem;

    //create a shadow ony on the right and bottom
    box-shadow: 10px 1rem 1rem 0px rgb(0 0 0 / 10%);

    svg {
        path {
            fill: $blanc;
        }
    }

    .bouton-connexion {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 0.5em 2em;
        border: 1px solid $gris-clair;
        border-radius: 0.5em;
        background: $violet;
        color: $jaune;
        
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        
        cursor: pointer;

        &:hover {
            background: $jaune;
            color: $vert;
        }
    }

    a.bouton-connexion {
        text-decoration: none;
    }

    .header-connexion {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;

        padding: 0.5em;

        border-bottom: 1px solid $gris-clair;

        h1 {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 2rem;

            margin: 0;
            padding: 0;

            color: $blanc;
        }
    }

    .main-connexion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

        & > div {
            border: 1px solid $gris-clair;
            border-radius: 0.5rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;

            width: min(90%, 18em);
            padding: 0.5em;

            position: relative;

            &.erreur-serveur {
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 700;
                font-size: 1rem;

                color: $blanc;
                background-color: $rouge;
                border: none;

                display: flex;
                flex-direction: row;
                justify-content: space-between;

                button {
                    outline: none;

                    color: $blanc;
                    background: $violet;
                    border: none;
                    border-radius: 0.4em;

                    font: inherit;

                    cursor: pointer;

                    &:hover {
                        background: $jaune;
                        color: $vert;
                    }
                }
            }

            & .tooltip {
                visibility: hidden;

                & > svg > path {
                    fill: $rouge;
                }

                & .tooltip-text {
                    visibility: hidden;
                    position: absolute;
                    z-index: 6;

                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 1rem;

                    color: $gris-fonce;
                    background-color: $rouge;

                    border-radius: 1em;

                    padding: 0.5em 1em;

                    box-shadow: 6px 7px 10px 4px rgb(0 0 0 / 15%);

                    @media screen and (max-width: 500px) {
                        right: 0;
                        top: 3rem;
                    }
                }
            }

            &.erreur {
                border-color: $rouge;
                &:focus-within {
                    outline-color: $rouge;
                }

                & .tooltip {
                    visibility: visible;

                    &:hover .tooltip-text {
                        visibility: visible;
                    }
                }
            }

            &:focus-within {
                outline: 1px solid $blanc;
            }

            & > input {
                height: 100%;
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 700;
                font-size: 1.25rem;

                width: min(70%, 12em);

                margin: 0;
                padding: 0;

                border: none;
                outline: none;

                background: $gris-fonce;
                color: $blanc;
                
                &::placeholder {
                    color: $gris-clair;
                }
            }
        }
    }

    .footer-connexion {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        padding: 1em 0;

        border-top: 1px solid $gris-clair;

        p {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 1.75rem;

            color: $blanc;

            margin: 0;
        }
    }
}