$font-size-note-title: clamp(1.5rem, 1.5rem + 0.5vw, 2rem);
$font-size-note-content: clamp(1rem, 1rem + 0.5vw, 1.4rem);

@import "style-header-dark";
@import "style-note-dark";

.note-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: .8em;

    padding-inline: .8em;

    @media screen and (max-width: 460px) {
        padding: 0.3em 0.2em;

        width: min(95%, 30rem);
    }
}