@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
body {
  margin: 0;
  padding: 0;
  background: #FCFCFF;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  background: #ffec64;
  border: 1px solid #32330D;
}
@media screen and (max-width: 400px) {
  header {
    padding: 0;
  }
}
header h1 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  color: #32330D;
}
header h1 a {
  text-decoration: none;
  color: inherit;
}
header svg {
  cursor: pointer;
}
header svg path {
  fill: #32330D;
  fill-opacity: 1;
}
header > div {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
header > div > div {
  position: relative;
}
@media screen and (max-width: 600px) {
  header > div > div {
    position: static;
  }
}
header > div > div .profil-menu {
  display: none;
  opacity: 0;
  transition: 0.6s ease-in-out opacity;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}
header > div > div .profil-menu a {
  text-decoration: none;
  text-align: center;
  padding: 0.3em 0.5em;
  width: 80%;
}
header > div > div .profil-menu a:hover {
  background: #401B37;
  color: #FCFCFF;
  font-weight: 500;
}
header > div > div .profil-menu .informations-lien {
  color: #1C1823;
  background: hsla(50deg, 12%, 42%, 0.7);
  border: 1px solid #401B37;
  border-radius: 0.8em;
}
header > div > div .profil-menu .deconnexion-lien {
  color: #FCFCFF;
  background: #971313;
  border-radius: 0.8em;
  font-weight: 500;
}
header > div > div .profil-menu .profil-menu-pc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8em;
  padding: 1em 0.5em;
  min-width: 30ch;
  position: absolute;
  right: 0;
  top: 0;
  background: #ffec64;
  color: #32330D;
  border: 1px solid #32330D;
  border-radius: 1em;
}
@media screen and (max-width: 600px) {
  header > div > div .profil-menu .profil-menu-pc {
    display: none;
  }
}
header > div > div .profil-menu .profil-menu-pc svg {
  cursor: default;
}
header > div > div .profil-menu .profil-menu-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #ffec64;
}
@media screen and (min-width: 600px) {
  header > div > div .profil-menu .profil-menu-mobile {
    display: none;
  }
}
header > div > div .profil-menu .profil-menu-mobile > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 80%;
  width: 100%;
  border-top: 1px solid #32330D;
  border-bottom: 1px solid #32330D;
}
header > div > div .profil-menu .profil-menu-mobile > div h1 {
  font-size: clamp(2.25rem, 2.25rem + 5vw, 4rem);
}
header > div > div .profil-menu .profil-menu-mobile > div a {
  font-size: clamp(1.5rem, 2rem + 2vw, 2rem);
}
header > div > div .profil-menu.open {
  display: block;
}
header > div > div .profil-menu.open-animation {
  opacity: 1;
}
header > div > div .close-profil-menu {
  display: none;
  opacity: 0;
  position: absolute;
  top: 1rem;
  right: 1.625rem;
  width: 1.25rem;
  aspect-ratio: 1;
  cursor: pointer;
  transition: 0.6s ease-in-out;
}
@media screen and (max-width: 600px) {
  header > div > div .close-profil-menu {
    top: calc(5vh - 1rem);
    width: 2rem;
  }
}
header > div > div .close-profil-menu.open {
  display: block;
}
header > div > div .close-profil-menu.open-animation {
  opacity: 1;
}
header > div > div .close-profil-menu > div {
  position: relative;
  width: 100%;
  height: 100%;
}
header > div > div .close-profil-menu > div::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 140%;
  height: 0.25rem;
  background: #971313;
  border-radius: 100vw;
  transform: rotate(45deg);
}
header > div > div .close-profil-menu > div:hover::before {
  background: #ED1D20;
}
header > div > div .close-profil-menu > div::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 140%;
  height: 0.25rem;
  background: #971313;
  border-radius: 100vw;
  transform: rotate(-45deg);
}
header > div > div .close-profil-menu > div:hover::after {
  background: #ED1D20;
}/*# sourceMappingURL=style-header-light.css.map */